body{
    overflow: hidden;
}
div{

    width: 50%;
    height: 50%;
}
body div:first-child{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: red;
    left: 0;
}
body div:nth-child(2){
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: green;
    right: 0;
}
body div:nth-child(3){
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: orange;
    bottom: 0;
    left: 0;
}
body div:nth-child(4){
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: hotpink;
    bottom: 0;
    right: 0;
}
.c{
    width: 200px !important;
    aspect-ratio: 1/1 !important;
    border-radius: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color : white !important;

}
body div:nth-child(5){
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: white;
}
#cc{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: red;
}
.CR{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: red !important;

}


body div:nth-child(6){
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
    background-color: white !important;
}
body div:nth-child(7){
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    background-color: white !important;
}
body div:nth-child(8){
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100%;
    background-color: white !important;
}
body div:nth-child(9){
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;
    background-color: white !important;
}
#TC{
    width: 150px;
    height: 150px;
    top: -5vw;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    border-radius: 0 0 100px 100px;

}
#BC{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -5vw;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 100px 100px 0 0;
    background-color: white;
}