
* {
    box-sizing: border-box;
}

.main-section {
    width: 100%;
    height: 100lvh;
}
h1{
    font-size: 100px;
}
main .main-section:first-child .sticky-nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 20px;
}

main .main-section:nth-child(2) .sticky-nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
}

main .main-section:nth-child(2) {
    background-color: #5797fa;
}

main .main-section:nth-child(3) .sticky-nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #353535;
    color: white;
    font-size: 20px;
}

main .main-section:nth-child(3) {
    background-color: #4f4e4e;
}

main .main-section:nth-child(4) .sticky-nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: darkred;
    color: white;
    font-size: 20px;
}

main .main-section:nth-child(4) {
    background-color: red;
}

.main-section {
    position: relative;
    width: 100%;
    height: 100lvh;
}

main .main-section .text {
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 30px;
}
